<div class="admin-panel">
  <button tuiButton appearance="secondary" (click)="logout()">Выйти</button>
  <h2>Расписание - Админ-Панель</h2>

  <div class="group-selector">
    <h3>Выберите группу:</h3>
    <tui-combo-box
      [stringify]="stringify"
      [(ngModel)]="selectedGroup"
      (ngModelChange)="onGroupSelect($event)"
      placeholder="Выберите группу"
    >
      <tui-data-list-wrapper
        *tuiDataList
        [items]="groups | tuiFilterByInput"
        [itemContent]="stringify | tuiStringifyContent"
      ></tui-data-list-wrapper>
    </tui-combo-box>
  </div>

  <div *ngIf="selectedGroup">
    <table class="tui-table">
      <thead>
        <tr>
          <th>Предмет</th>
          <th>Время</th>
          <th>Группа</th>
          <th>Преподаватель</th>
          <th>День недели</th>
          <th>Действия</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of filteredSchedule">
          <td *ngIf="editing?.id !== item.id">{{ item.subject }}</td>
          <td *ngIf="editing?.id !== item.id">{{ item.time }}</td>
          <td *ngIf="editing?.id !== item.id">{{ item.group }}</td>
          <td *ngIf="editing?.id !== item.id">{{ item.teacher }}</td>
          <td *ngIf="editing?.id !== item.id">{{ item.day }}</td>
          <td *ngIf="editing?.id !== item.id">
            <button tuiButton size="s" (click)="edit(item)">
              Редактировать
            </button>
            <button
              style="margin-left: 10px"
              tuiButton
              size="s"
              appearance="error"
              (click)="delete(item.id)"
            >
              Удалить
            </button>
          </td>
          <ng-container *ngIf="editing?.id === item.id">
            <td>
              <tui-input [(ngModel)]="editing.subject">Предмет</tui-input>
            </td>
            <td>
              <tui-combo-box [stringify]="stringify" [(ngModel)]="editing.time">
                <tui-data-list-wrapper
                  *tuiDataList
                  [items]="timeOfvs | tuiFilterByInput"
                  [itemContent]="stringify | tuiStringifyContent"
                ></tui-data-list-wrapper>
              </tui-combo-box>
            </td>
            <td>
              <tui-combo-box
                [stringify]="stringify"
                [(ngModel)]="editing.group"
              >
                <tui-data-list-wrapper
                  *tuiDataList
                  [items]="groups | tuiFilterByInput"
                  [itemContent]="stringify | tuiStringifyContent"
                ></tui-data-list-wrapper>
              </tui-combo-box>
            </td>
            <td>
              <tui-input [(ngModel)]="editing.teacher">Преподаватель</tui-input>
            </td>
            <td>
              <tui-combo-box [stringify]="stringify" [(ngModel)]="editing.day">
                <tui-data-list-wrapper
                  *tuiDataList
                  [items]="daysOfWeek | tuiFilterByInput"
                  [itemContent]="stringify | tuiStringifyContent"
                ></tui-data-list-wrapper>
              </tui-combo-box>
            </td>
            <td>
              <button
                tuiButton
                size="s"
                appearance="primary"
                (click)="saveEdit()"
              >
                Сохранить
              </button>
              <button
                tuiButton
                size="s"
                appearance="secondary"
                (click)="cancelEdit()"
              >
                Отмена
              </button>
            </td>
          </ng-container>
        </tr>
        <tr>
          <td>
            <tui-input [(ngModel)]="newItem.subject" placeholder="Новый предмет"
              >Предмет</tui-input
            >
          </td>
          <td>
            <tui-combo-box
              [stringify]="stringify"
              [(ngModel)]="newItem.time"
              placeholder="Время"
            >
              <tui-data-list-wrapper
                *tuiDataList
                [items]="timeOfvs | tuiFilterByInput"
                [itemContent]="stringify | tuiStringifyContent"
              ></tui-data-list-wrapper>
            </tui-combo-box>
          </td>
          <td>
            <tui-combo-box
              [stringify]="stringify"
              [(ngModel)]="newItem.group"
              placeholder="Группа"
            >
              <tui-data-list-wrapper
                *tuiDataList
                [items]="groups | tuiFilterByInput"
                [itemContent]="stringify | tuiStringifyContent"
              ></tui-data-list-wrapper>
            </tui-combo-box>
          </td>
          <td>
            <tui-input [(ngModel)]="newItem.teacher" placeholder="Преподаватель"
              >Преподаватель</tui-input
            >
          </td>
          <td>
            <tui-combo-box
              [stringify]="stringify"
              [(ngModel)]="newItem.day"
              placeholder="День недели"
            >
              <tui-data-list-wrapper
                *tuiDataList
                [items]="daysOfWeek | tuiFilterByInput"
                [itemContent]="stringify | tuiStringifyContent"
              ></tui-data-list-wrapper>
            </tui-combo-box>
          </td>
          <td>
            <button tuiButton size="s" appearance="primary" (click)="add()">
              Добавить
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
