<div class="list_wrapper_duo">
  <label class="g">
    <tui-combo-box [formControl]="control" [stringify]="stringify">
      Специальность
      <tui-data-list-wrapper
        *tuiDataList
        [items]="items | tuiFilterByInput"
        [itemContent]="stringify | tuiStringifyContent"
      />
    </tui-combo-box>
  </label>

  <label>
    <tui-combo-box [formControl]="control2" [stringify]="stringify2">
      Группа
      <tui-data-list-wrapper
        *tuiDataList
        [items]="availableGroups | tuiFilterByInput"
        [itemContent]="stringify2 | tuiStringifyContent"
      />
    </tui-combo-box>
  </label>
</div>

<div class="main_content">
  <ng-container *ngIf="control2.value; else emptyState">
    <app-calendar [schedule]="filteredSchedule"></app-calendar>
  </ng-container>

  <ng-template #emptyState>
    <tui-block-status>
      <img
        alt="not found"
        src=".\assets\images\not-found.svg"
        tuiSlot="top"
        class="image"
      />
      <h4>Не выбрано</h4>
      Выберите специальность и группу
    </tui-block-status>
  </ng-template>
</div>
