<div class="login_form_container">
  <div class="login_form">
    <div class="login_form_input">
      <div class="form_field">
        <tui-input>
          Введите логин
          <input tuiTextfieldLegacy type="email" />
        </tui-input>
      </div>

      <div class="form_field">
        <tui-input>
          Введите пароль
          <input tuiTextfieldLegacy type="password" />
        </tui-input>
      </div>
    </div>
    <div class="login_form_btn">
      <button size="m" tuiButton type="button">Medium</button>
    </div>
  </div>
</div>
