table[tuiTable] {
  width: 100%;
  table-layout: fixed;
  border-radius: 10px;
  overflow: hidden;
  border-collapse: separate;
  border-spacing: 0;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Добавление тени */
}

table[tuiTable] th,
table[tuiTable] td {
  padding: 10px;
  text-align: center;
  border-right: 1px solid #f0f0f0; /* Разделитель столбцов */
}

table[tuiTable] th {
  border-bottom: 1px solid #f0f0f0; /* Разделитель строк */
}

table[tuiTable] td {
  color: #333;
  border-bottom: 1px solid #f0f0f0; /* Разделитель строк */
}

table[tuiTable] tbody tr {
  border-bottom: 1px solid #f0f0f0; /* Разделитель строк */
}

table[tuiTable] td div {
  display: flex;
  justify-content: center;
  align-items: center;
}

tui-badge {
  display: flex;
  justify-content: flex-end;
}

tui-card-large {
  width: 100%;
  padding: 10px;
  background-color: #fafafa;
  border-radius: 8px;
}

tui-card-large header {
  display: flex;
  align-items: baseline;
}

tui-card-large h1 {
  font-size: 16px;
  font-weight: bold;
}

tui-card-large span {
  font-size: 12px;
  color: gray;
}

tui-avatar {
  margin-left: 10px;
}

.schedule-table {
  width: 100%;
  table-layout: fixed;
  border-radius: 10px;
  overflow: hidden;
  border-collapse: separate;
  border-spacing: 0;
}

.card-container {
  display: flex;
  justify-content: center;
}

.subject-card {
  width: 200px;
  min-height: 80px;
  display: flex;
  align-items: center;
}

.card-header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 8px;
}

.card-title {
  margin: 0;
  width: 100%;
}

.subject-name {
  display: block;
  font-size: 1em;
  margin-bottom: 4px;
}

.teacher-name {
  display: block;
  font-size: 0.9em;
  color: #666;
}

.empty-cell {
  text-align: center;
  color: gray;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
