<div class="sidebar_container">
  <div class="logo-container">
    <img
      src="assets/images/logo.svg"
      alt="КНГК Умное Расписание"
      class="logo"
    />
    <div class="title-container">
      <h1 tuiTitle="m" tuiTatle>КНГК Умное Расписание</h1>
      <span class="sidebar_container_description"
        >Доступ к расписанию занятий и информации об учителях в одном
        месте</span
      >
    </div>
  </div>
</div>

<nav class="nav_bar">
  <button
    class="nav_bar_button"
    routerLink="/"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Расписание
  </button>
  <button
    class="nav_bar_button"
    routerLink="/teacher-schedule"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Преподаватель
  </button>
  <button
    class="nav_bar_button"
    routerLink="/replacements"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Замены
  </button>
  <button
    class="nav_bar_button"
    routerLink="/session"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Сессия
  </button>
</nav>
<!-- <nav class="nav">
  <div class="main-menu-list">
    <li *ngFor="let menuItem of menuItems">
      <button class="menu-item" [routerLink]="menuItem.link">
        <span> {{ menuItem.label }}</span>
      </button>
    </li>
  </div>
</nav> -->
