<div class="sidebar_container">
  <h1 tuiTitle="m" tuiTatle>КНГК Расписание</h1>
  <span class="sidebar_container_description"
    >Доступ к расписанию занятий и информации об учителях в одном месте</span
  >
</div>

<nav class="nav_bar">
  <button
    class="nav_bar_button"
    routerLink="/"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Расписание
  </button>
  <button
    class="nav_bar_button"
    routerLink="/teacher-schedule"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Преподаватель
  </button>
</nav>
<!-- <nav class="nav">
  <div class="main-menu-list">
    <li *ngFor="let menuItem of menuItems">
      <button class="menu-item" [routerLink]="menuItem.link">
        <span> {{ menuItem.label }}</span>
      </button>
    </li>
  </div>
</nav> -->
